<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686907903349-k2jtide3bvspgb00h2ev422blpgoc4gc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686907903349-k2jtide3bvspgb00h2ev422blpgoc4gc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>686907903349-1m9d3jitvk2bvj630u5rlr8i8p1kn0gh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDy926wmy_2LVzzNmN79KcXL4t___XXOcg</string>
	<key>GCM_SENDER_ID</key>
	<string>686907903349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.usuarioincomum.newChat</string>
	<key>PROJECT_ID</key>
	<string>new-chat-b9229</string>
	<key>STORAGE_BUCKET</key>
	<string>new-chat-b9229.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686907903349:ios:b113e2afa9ecd266</string>
	<key>DATABASE_URL</key>
	<string>https://new-chat-b9229.firebaseio.com</string>
</dict>
</plist>